<h1>Success inscription</h1>

<p><strong>response_code</strong>: <%= @response.response_code %></p>
<p><strong>auth_code</strong>: <%= @response.auth_code %></p>
<p><strong>tbk_user</strong>: <%= @response.tbk_user %></p>
<p><strong>last_4_card_digits</strong>: <%= @response.last_4_card_digits %></p>
<p><strong>credit_card_type</strong>: <%= @response.credit_card_type %></p>
