<h1>Success transaction</h1>

<p><strong>tbk_response_code</strong>: <%= @response.response_code %></p>
<p><strong>tbk_authorization_code</strong>: <%= @response.authorization_code %></p>
<p><strong>tbk_transaction_id</strong>: <%= @response.transaction_id %></p>
<p><strong>tbk_last_4_card_digits</strong>: <%= @response.last_4_card_digits %></p>
<p><strong>tbk_credit_card_type</strong>: <%= @response.credit_card_type %></p>
