<h1>Success transaction</h1>

<p><strong>id</strong>: <%= @order.id %></p>
<p><strong>tbk_token_ws</strong>: <%= @order.tbk_token_ws %></p>
<p><strong>tbk_accounting_date</strong>: <%= @order.tbk_accounting_date %></p>
<p><strong>tbk_buy_order</strong>: <%= @order.tbk_buy_order %></p>
<p><strong>tbk_card_number</strong>: <%= @order.tbk_card_number %></p>
<p><strong>tbk_commerce_code</strong>: <%= @order.tbk_commerce_code %></p>
<p><strong>tbk_authorization_code</strong>: <%= @order.tbk_authorization_code %></p>
<p><strong>tbk_payment_type_code</strong>: <%= @order.tbk_payment_type_code %></p>
<p><strong>tbk_response_code</strong>: <%= @order.tbk_response_code %></p>
<p><strong>tbk_transaction_date</strong>: <%= @order.tbk_transaction_date %></p>
<p><strong>tbk_vci</strong>: <%= @order.tbk_vci %></p>
<p><strong>tbk_session_id</strong>: <%= @order.tbk_session_id %></p>
<p><strong>tbk_card_expiration_date</strong>: <%= @order.tbk_card_expiration_date %></p>
<p><strong>tbk_shares_number</strong>: <%= @order.tbk_shares_number %></p>
<p><strong>amount</strong>: <%= @order.amount %></p>
<p><strong>status</strong>: <%= @order.status %></p>
